<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <%- include("home.ejs") %>
    <br><br>
    <form name="frm" action="/updatedept" method="post">
    <div class="container bg-dark p-5">
        <div class="form-group">
            <input type="hidden" class="form-control" name="id" value="<%=deptId%>" />
        </div>
        <div class="form-group">
            <input type="text" class="form-control" name="name" value="<%=deptName%>"/>
        </div> 
        <div>
            <input type="submit" class="form-control" name="s" value="Update Department" />
        </div>
    </div>
    </form>
</body>
</html>